.card {
    border-radius: 4px;
    box-shadow: none;
    background-color: #FFFFFF;
    margin-bottom: 30px;
    border-radius: 4px;
    box-shadow: none;
    background-color: #FFFFFF;
    margin-bottom: 30px;
}
.border-secondary {
    border-color: none !important;
}
.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #fdfdfd;
    border-bottom: 0px solid rgba(0,0,0,0);
}
.card-text {
    font-size: 2em;
    text-align: right;
}
.container {width:100%; float:left;}
.col1{ width:20%; float:left}